Flask~=1.1.2
Flask-Babel2~=0.1
Werkzeug~=1.0.1
Click~=7.0
PyJWT~=1.7.1
requests~=2.22.0
idna~=2.8
cryptography~=2.8
future~=0.18.2
pip~=20.0.2
wheel~=0.34.2
keyring~=18.0.1
Mako~=1.1.0
Babel~=2.9.0
MarkupSafe~=1.1.0
pytz~=2019.3
colorama~=0.4.3
Jinja2~=2.11.3
itsdangerous~=1.1.0
blinker~=1.4
python-dateutil~=2.7.3
certifi~=2019.11.28
chardet~=3.0.4
SecretStorage~=2.3.1
entrypoints~=0.3
urllib3~=1.25.8
six~=1.14.0
simplejson~=3.16.0
setuptools~=45.2.0
gunicorn~=20.1.0
psycopg2~=2.8.6